//Your custom styles here
@import "./_normalize.css";
@import "./_colors";
@import "./_icons";
@import "./_fonts";
@import "./_responsive";
@import "./_utility";
@import "./_components";
@import "./animations";

#app {
  background: #f5f6f8;

  * {
    box-sizing: border-box;
  }
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-container-top {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.flex-child {
  flex: 1 3 10em;
}
.flex-child-second {
  flex: 1 3 10em;
}
.flex-child:first-child {
  margin-right: 20px;
}

.symbl-invisible {
  width: 4.4rem;
  height: 4.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.2rem;
  font-size: 1.4rem;
  margin-right: 1rem;
  background: rgba(10, 169, 74, 0);
}

.symbl-prod {
  width: 4.4rem;
  height: 4.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.2rem;
  font-size: 1.4rem;
  margin-right: 1rem;
  background: rgb(10, 169, 73, 0.15);
  color: $green;
}
.symbl-prod-text {
  display: flex;
  height: 4.4rem;
  justify-content: center;
  align-items: center;
  border-radius: 1.2rem;
  font-size: 1.4rem;
  margin-right: 1rem;
  background: rgb(10, 169, 73, 0.15);
  color: $green;
}

.tokens {
  height: 15.4rem;
}

.order-gap {
  margin-top: 1rem;
}

.btn-buy {
  background: rgba(0, 255, 34, 0.15);
}
.btn-sell {
  background: rgba(255, 0, 0, 0.15);
}

.symbl-cons {
  width: 4.4rem;
  height: 4.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.2rem;
  font-size: 1.4rem;
  margin-right: 1rem;
  background: rgba(242, 55, 55, 0.15);
  color: $red;
}

.symbl-cons-text {
  height: 4.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.2rem;
  font-size: 1.4rem;
  margin-right: 1rem;
  background: rgba(242, 55, 55, 0.15);
  color: $red;
}

.symbl-desc {
  width: 4.4rem;
  height: 4.4rem;
  border: 0.2rem solid #e6e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.2rem;
  font-size: 1.4rem;
  margin-right: 1rem;
}
